@import "../../styles/variables.scss";

.card_vacuna {
  background-color: white;
  align-self: center;
  margin: 5%;
  width: 80%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  border-radius: 10px;
  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__h1 {
      color: $mainColor;
      font-family: $font;
    }
  }
}

.input_register {
  margin-bottom: 10px;
}
