@import "../../styles/variables.scss";

.card_vacuna {
  align-self: center;
  margin: 5%;
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  &__info {
    &__h1 {
      color: $mainColor;
    }
    width: 90%;
    height: 100%;
  }
}
