@import "../../../../src/styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.div-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(40deg,
      #7cb4ff 0,
      #5389f2 50%,
      #2d60b0 100%);
  margin-top: 60px;
  padding: 15px;
  box-shadow: 10px 3px 5px 1px gray;
}

.user {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  &__div-info {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &___div-buttons {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 300%;
    margin: 20px;
    color: white;
    box-shadow: 1px 1px 5px 1px black;

    &:hover {
        transform: scale(1.2);
      }
    }

  &___button {
      background-color: transparent;
      border: none;
    }
  
    &__div-pets {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    &___div-img {
      width: 80%;
      display: flex;
      justify-content: center;
    }

    &___div-details {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: space-around;
      margin: 5px;
      font-family: $font;
      font-size: 20px;
      color: white;
    }
  
    &___div-pet {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 20%;
      font-family: $font;
      font-size: 20px;
      color: white;
      margin-top: 20px;
    }
    }
    

.user-img {
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 200px;
}

.pet-img {
  width: 100px;
  height: 100px;
  border-radius: 200px;
  margin-bottom: 5px;
  box-shadow: 1px 1px 5px 1px black;

  &:hover {
    transform: scale(1.2);
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 10, "wght" 400, "GRAD" 0, "opsz" 40;
  color: white;
}

.user_div-buttons {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 300%;
    margin: 20px;
    color: white;
    box-shadow: 1px 1px 5px 1px black;
  
    &:hover {
      transform: scale(1.2);
    }
  }
