.button-container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-button {
  min-width: 130px;
  max-width: 150px;
  margin-top: 5px;
}
.list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  column-gap: 20px;
  margin: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

.item {
  margin: 0 10px;
  margin-bottom: 10px;
}

.button-page {
  background-color: #52b0b7; /* Código corporativo azul */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  width: 150px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.button-page:hover {
  background-color: #3b8ea0; /* Un tono más oscuro del azul corporativo */
}
.text-menu {
  font-size: 14px;
}
