.input{
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    align-items:center;
    
}
label{
    margin-right: 10px;
    font-weight: 800;
    color: #faffff;
}

input{
    width: 150px;
    background-color:#52b0b755 ;
}