.input__user{
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    align-items:center;
    
}
.input__user__label{
    margin-right: 10px;
    font-weight: 400;
    color: #faffff;
}

.input__user__input{
    width: 150px;
    background-color:#52b0b755 ;
}