.input__user{
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    align-items:center;
    
}
.input__user__label{
    margin-right: 10px;
    font-weight: 400;
    color: black;
}

.input__user__input{
    width: 170px;
    height: 40px;
    border-radius: 10px;
    background-color:#176bfc25;
    border: solid 1px #3669bf;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.418);
}