.userregister{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./fondo.png");
        background-size: cover;
    background-color: #52B0B7;

    &__contain{
        display: flex;
        flex-direction: row;
        border: solid 2px #0f7f89;
        padding: 50px;
        box-shadow: 10px 5px 10px #2d707591;
        border-radius: 20px;
        background-color: #52b0b765;
        
       

        &__input{
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 15px;
            margin-top: 0px;
            padding: 50px;
            
        }
    }

}

.crear{
    margin-top:  40px;

    
}