.userregister {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: (url("../../images/Salud2.jpg"));
  background-size: cover;
}
.userregister__contain {
  border: solid 3px rgba(198, 193, 193, 0.375);
  width: 80%;
  height: 95%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 15px 15px 15px rgba(118, 118, 118, 0.338);
}
.img_container {
  width: 35%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #0459ee6c;
}
.register {
  width: 65%;
  height: 100%;
  background-color: rgba(240, 255, 255, 0.366);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.button_upload {
  width: 180px;
  border-radius: 15px;
}
.upload_image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.picture_register {
  height: 80%;
}
.toggle_button {
  width: 100px;
  height: 40px;
}
.upload_image__input {
  display: none;
}
