.loby {
  width: 100%;
}
.loby-head {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #52b0b7;
}
.loby-head__logo {
  width: 40%;
}
.loby-head__information {
  width: 30%;
}
.loby-head__image {
  width: 30%;
}

.image-loby {
  min-width: 200px;
  max-width: 250px;
}
