.loby {
  width: 100vw;
  height: 100vh;
  background-color: white;
  background-image: (url("../../images/Salud2.jpg"));
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loby_head {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: #0459ee6c;
}
.loby_head__logo {
  width: 40%;
}
.loby_head__information {
  width: 65%;
}
.loby_head__image {
  padding: 10px;
  width: 35%;
  height: 90%;
  border-radius: 20px;
  background-color: azure;
  border: solid 2px #0459ee6c;
  box-shadow: 3px 3px 3px rgba(104, 104, 104, 0.436);
}

.image_loby {
  min-width: 200px;
  max-width: 250px;
}
.information {
  width: 30%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-right: 10px;
  padding-left: 10px;
}
.welcome {
  color: #012c76;
}
.user_information {
  color: rgb(46, 46, 46);
}
