@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

.button_container {
  max-width: 500px;
  display: flex;
  flex-direction: row;
}

.initial_button {
  background-color: rgba(207, 205, 205, 0.458); /* color corporativo */
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initial_button:hover {
  background-color: #0062a3; /* un tono más oscuro para el hover */
  color: aliceblue;
}

.option_button {
  background-color: rgba(207, 205, 205, 0.458);
  color: #0074d9; /* color corporativo */
  border: none;
  border-radius: 15px;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 120px;
  height: 35px;
}

.option_button:hover {
  background-color: #0062a3; /* un tono más claro para el hover */
  color: aliceblue;
}

.material_symbols-outlined {
  padding: 0;
  color: #0074d9;
}
