@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

.button-container {
  max-width: 500px;
}

.initial-button {
  background-color: #0074d9; /* color corporativo */
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.initial-button:hover {
  background-color: #0062a3; /* un tono más oscuro para el hover */
}

.option-button {
  background-color: white;
  color: #0074d9; /* color corporativo */
  border: none;
  border-radius: 25px;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option-button:hover {
  background-color: #e5e5e5; /* un tono más claro para el hover */
}

.material-symbols-outlined {
  padding: 0;
}
