.lista {
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    align-items: center;

}

.lista_label {
    margin-right: 5px;
    color: black;
}
.lista_select{
        width: 170px;
        height: 40px;
        border-radius: 10px;
        background-color: #176bfc25;
        border: solid 1px #3669bf;
        text-align: center;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.418);
}