@import "../../../styles/variables.scss";

.select-group {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 20px;
  justify-content: flex-start;

  span {
    color: $textPrimaryColor;
    width: 30%;
  }
  select {
    border: 1px solid $mainColor;
    width: 70%;
  }
}
