@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");

.history {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 30px;

  &__events_div {
    width: 80%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 4px 5px 10px 1px gray;
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgba(240, 255, 255, 0.646);
    position: relative;
  }
}

.history_info {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-direction: row;
  width: 100%;

  &__details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
    margin-top: 20px;
    font-family: "Dosis";
    font-size: 16px;
  }
}

.history_event {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  &__reason {
    width: 100%;
    display: flex;
    font-family: "Dosis";
    font-size: 16px;
    padding-left: 2px;
    margin-left: 4.5px;
    margin-top: 5px;
  }

  &__title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Dosis";
    font-weight: bold;
    font-size: 25px;
    margin-top: -45px;
    margin-left: 5.5px;
    margin-top: 5px;
  }

  &__detail {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Dosis";
    font-size: 16px;
    text-align: left;
    margin-top: -30px;
    margin-left: 5.5px;
    margin-top: 5px;
  }
}

.material_symbols_outlined {
  font-variation-settings: "FILL" 10, "wght" 400, "GRAD" 0, "opsz" 40;
  color: black;
  padding-right: 5px;
}

.history_container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
}
.history_buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}
