.login-h1 {
  font-size: 18px;
  margin-top: 15px;
}
.login {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #52b0b7;

  &__container {
    border: solid 2px rgb(69, 160, 180);
    max-width: 350px;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 8px 5px 20px rgb(55, 129, 145);
    margin-right: 100px;
    justify-content: space-between;
  }
}
.login-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 17px;
  width: 255px;
}

.login-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.login-img {
  height: 90%;
}

.login-button {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #2ba5b0;
  border-color: #0b555c;
  border-radius: 10px;
  width: 60px;
  height: 25px;
}
