@import url("https://fonts.googleapis.com/css?family=Dosis");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.div-kardex {
  max-width: 90%;
  font-family: "Dosis";
}

.kardex {
  font-family: "Dosis";
  border-collapse: collapse;
}

#customers td,
#customers th {
  padding: 2px;
  border: 2px solid;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: gray;
}

#customers th {
  padding: 2px;
  text-align: center;
  border: 2px solid black;
  color: white;
}
